*{
    Margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #402e6b;
    color: #d5b7f7;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
    .cabecalho-item{
        display: inline-block;
        padding: 0 25px;
    }
    .escola-imagem{
        width: 40%;
    }
    .escola{
        background-image: linear-gradient(#434780, #91a3dd);
        color:#17165e;
        display:flex;
        justify-content:space-around;
        align-items: center;
        padding: 55px 0;
    }
    .escola-conteudo{
        width: 30%;
    }
    .escola-titulo{
        padding: 25px 0;
    }
    .perfil{
        background-color: #284e51;
    }
    .estudante-imagem{
padding: 20px 0 ;
width: 200px;
    }
    .estudante-icone{
        width: 24px;
        padding: 20px 0;
    }
    .escola-div{
text-align: center;
    }
    .estudante-titulo{
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }
    .estudante-todos{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 30px 0;
    }
    .rodape{
        background-color: rgb(60, 60, 107);
        color: rgb(223, 194, 248);
        padding: 12px 0;
        text-align: center;
    }
   